.row.align-items-center
  .col
    %h1.my-2 Create an account
.row
  .col
    %p
      Already have an account?
      = link_to "Log in", new_user_session_path
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .row.pt-3
    .form-group.col
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true, placeholder: "Email"
  .row.pt-2
    .form-group.col
      = f.password_field :password, autocomplete: "new-password", class: "form-control", required: true, placeholder: "Password (#{@minimum_password_length} characters minimum)"
  .row.pt-2
    .form-group.col
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true, placeholder: "Password confirmation"
  .row.pt-2
    .form-group.col
      = f.select :role, ["Country Planner", "Technical Advisor", "Donor", "Other"].map {|r| [r, r] }, {include_blank: "Select your role"}, {class: "form-control custom-select"}
  .row
    .col
      = f.submit "SIGN UP", class: "w-100 btn btn-orange"
