<div data-controller="assessment-selection">
  <%= hidden_field_tag "countries_and_assessments", @selectables.to_json, data:
  { target: "assessment-selection.selectables" } %>
  <div class="landing container">
    <div class="row">
      <div class="col left-panel">
        <h1 class="landing-heading my-4">A good heading...</h1>

        <p>
          World Health Organization (WHO) and its partners have developed a tool
          with a list of benchmarks and corresponding actions that can be
          applied to increase the performance of countries in emergency
          preparedness through the development and implementation of a National
          Action Plan for Health Security (NAPHS).
        </p>

        <p>
          Use this tool to get help with creating a draft plan, explore best
          practices in the reference library, or browse the benchmarks.
        </p>

        <%= form_tag '/country_select', id: "country-select-menu" do %>
          <div class="input-group">
            <%= select_tag "country",
              options_from_collection_for_select(@countries, 'name', 'name'),
              class: "custom-select",
              data: { target: "assessment-selection.selectedCountry",
                      action: "assessment-selection#selectCountry
                               assessment-selection#validateAndEnableGetStarted"
                    }
            %>
            <div class="input-group-append">
              <%= button_tag "Get Started",
                type: :button,
                data: { target: "assessment-selection.getStartedButton",
                        action: "assessment-selection#openModalValidated" },
                class: "btn text-white bg-green",
                disabled: true %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col"></div>
    </div>
  </div>
  <%= render "shared/assessment_selection_modal" %>
</div>
