<div data-controller="assessment-selection">
  <%= hidden_field_tag "countries_and_assessments", @selectables.to_json, data:
  { target: "assessment-selection.selectables" } %>
  <%= hidden_field_tag "state", "", data: { target: "assessment-selection.state" } %>
  <div class="landing">
    <div class="row mb-5">
      <div class="col left-panel">
        <h1 class="my-4">Step up to preparedness</h1>
        <h2 class="my-4">ACCELERATING IMPLEMENTATION THROUGH BETTER PLANNING</h2>

        <p>
        This digital tool supports accelerated planning and implementation of International Health Regulation (IHR) core capacities, specifically focusing on those needed to develop and guide your National Action Plan for Health Security (NAPHS).
				</p>
				<p>This tool provides a database of key actions—Benchmarks developed by the World Health Organization (WHO) and partners—needed to improve your Joint External Evaluation (JEE) or State Parties Self-Assessment Annual Reporting Tool (SPAR) scores by one or more steps.
				</p>
				<p>You will have the opportunity to create a draft plan, customize it online or download it, view implementation guidance, and review an analysis of your actions.
				</p>
				<p class="my-4"><strong>Choose your country, or the country you’re supporting with NAPHS development and implementation.</strong></p>

        <%= form_tag '/country_select', id: "landing-country-select-menu" do %>
          <div class="input-group">
            <%= select_tag "country",
              options_from_collection_for_select(@countries, 'name', 'name'),
              class: "custom-select",
              data: { target: "assessment-selection.countrySelect",
                      action: "assessment-selection#selectCountry
                               assessment-selection#validateAndEnableGetStarted"
                    }
            %>
            <div class="input-group-append">
              <%= button_tag "Get Started",
                type: :button,
                data: { target: "assessment-selection.getStartedButton",
                        action: "assessment-selection#next",
                        next: "assessment-selection-modal" },
                class: "btn text-white bg-green",
                disabled: true %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col right-panel m-auto"><%= render "hero_image" %></div>
    </div>
  </div>
  <%= render "shared/assessment_selection_modal" %>
  <%= render "shared/technical_area_selection_modal" %>
</div>
