.row{id: "get_started", "data-controller": "get-started"}
  .col
    %h1 Let's Get Started
    = form_with model: @get_started_form, url: start_index_path, html: {novalidate: true} do |form|
      .form-row
        .col-12.col-md-8.col-lg-6
          %h4 1. Select your country
          = form.select :country_id, options_from_collection_for_select(@countries, :id, :name, @get_started_form.country_id), {include_blank: true, prompt: "Type or select an option"}, {class: "custom-select", "data-get-started-target": "countrySelect", required: true}
          .invalid-feedback.my-3 Please choose a country.
      .form-row
        .col
          %h4
            2. Select an assessment
          .form-check
            = form.radio_button :blank_assessment, false, class: "form-check-input", required: true, autocomplete: "off", checked: true
            = form.label :blank_assessment, "The most recent assessment", value: false, class: "form-check-label"
            %p
              %small.text-muted
                Your last registered scores are added automatically
          .form-check
            = form.radio_button :blank_assessment, true, class: "form-check-input", required: true, autocomplete: "off"
            = form.label :blank_assessment, "New JEE assessment", value: true, class: "form-check-label"
            %p
              %small.text-muted Add your own scores
      .form-row
        .col
          = form.submit "Next", class: "btn btn-primary"
