- heading_disabled_class = @get_started_form.country.present? ? "": "disabled"
.row{id: "get_started",
"data-controller": "get-started",
"data-get-started-redirect-key": @redirect_key,
"data-get-started-named-ids": AssessmentPublication::NAMED_IDS.to_json}
  .col
    %h1 Let's Get Started
    = form_with model: @get_started_form, url: start_path(id: params[:id]), method: :patch, data: {target: "get-started.form", action: "submit->get-started#validateForm"}, html: {novalidate: true} do |form|
      .form-row
        .col-6
          %h4 1. Select your country
          %label= @country.name
      .form-row
        .col
          %h4{class: heading_disabled_class}
            2. Choose your most recent assessment
          - if @get_started_form.country.present?
            - if @get_started_form.country.has_jee1?
              .form-check
                = form.radio_button :assessment_type, AssessmentPublication::NAMED_IDS.first, class: "form-check-input", required: true, "data-action": "get-started#selectAssessmentJee1"
                = form.label :assessment_type, "Joint External Evaluation (JEE)", value: AssessmentPublication::NAMED_IDS.first, class: "form-check-label"
                .invalid-feedback Please choose an assessment.
              .plan-by-technical-area-container{"data-target": "get-started.planByTechnicalAreasContainerForJee1", style: "display: none"}
                %label
                  %input{type: "checkbox", name: "get_started_form[plan_by_technical_ids]", value: 1, "data-action": "get-started#toggleTechnicalAreasForJee1"}
                    %em Optional:
                    Plan by technical area(s)
                .collapse{"data-target": "get-started.cardOfTechnicalAreasForJee1"}
                  .col.card
                    .row
                      .col
                        %a{href: "#", "data-action": "get-started#selectAllTechnicalAreasForJee1"}
                          Select all
                        |
                        %a{href: "#", "data-action": "get-started#deselectAllTechnicalAreasForJee1"}
                          Deselect all
                    .row
                      - col1_count_for_jee1 = ((@technical_areas_jee1.size + 1) / 2).floor
                      .col
                        - @technical_areas_jee1.take(col1_count_for_jee1).each do |technical_area|
                          = render "checkbox_for_technical_area", technical_area: technical_area, form: form
                      .col
                        - @technical_areas_jee1.drop(col1_count_for_jee1).each do |technical_area|
                          = render "checkbox_for_technical_area", technical_area: technical_area, form: form
            - if @get_started_form.country.has_spar_2018?
              .form-check
                = form.radio_button :assessment_type, AssessmentPublication::NAMED_IDS.second, class: "form-check-input", required: true, "data-action": "get-started#selectAssessmentSpar2018"
                = form.label :assessment_type, "State Party Annual Report (SPAR)", value: AssessmentPublication::NAMED_IDS.second, class: "form-check-label"
                .invalid-feedback Please choose an assessment.
              .plan-by-technical-area-container{"data-target": "get-started.planByTechnicalAreasContainerForSpar2018", style: "display: none"}
                %label
                  %input{type: "checkbox", name: "get_started_form[plan_by_technical_ids]", value: 1, "data-action": "get-started#toggleTechnicalAreasForSpar2018"}
                    %em Optional:
                    Plan by technical area(s)
                .collapse{"data-target": "get-started.cardOfTechnicalAreasForSpar2018"}
                  .col.card
                    .row
                      .col
                        %a{href: "#", "data-action": "get-started#selectAllTechnicalAreasForSpar2018"}
                          Select all
                        |
                        %a{href: "#", "data-action": "get-started#deselectAllTechnicalAreasForSpar2018"}
                          Deselect all
                    .row
                      - col1_count_for_spar2018 = ((@technical_areas_spar_2018.size + 1) / 2).floor
                      .col
                        - @technical_areas_spar_2018.take(col1_count_for_spar2018).each do |technical_area|
                          = render "checkbox_for_technical_area", technical_area: technical_area, form: form
                      .col
                        - @technical_areas_spar_2018.drop(col1_count_for_spar2018).each do |technical_area|
                          = render "checkbox_for_technical_area", technical_area: technical_area, form: form
          - else
            %div{style: "height: 75px"}
      .form-row
        .col
          %h4{class: heading_disabled_class}
            3. What kind of plan are you making?
          - if @get_started_form.country.present?
            .form-check
              = form.radio_button :plan_term, 1, class: "form-check-input", required: true
              = form.label :plan_term, "1 year plan", value: 1, class: "form-check-label"
              %p
                %em
                  For each indicator, increase scores by 1 level.
            .form-check
              = form.radio_button :plan_term, 5, class: "form-check-input", required: true
              = form.label :plan_term, "5 year plan", value: 5, class: "form-check-label"
              %p
                %em
                  For each indicator, increase scores to demonstrated (4) or sustained (5) capacity.
              .invalid-feedback Please choose a plan.
          - else
            %div{style: "height: 75px"}
      .form-row
        .col
          %h4{class: heading_disabled_class}
            4. Do you want to add disease specific planning?
          - if @get_started_form.country.present?
            - @diseases.each do |disease|
              .form-check
                = check_box_tag "get_started_form[diseases][]", disease.id, false, {class: "form-check-input", id: "diseases_#{disease.name}"}
                %label{for: "diseases_#{disease.name}"}
                  = "Optional: #{disease.display} planning"
          - else
            %div{style: "height: 75px"}
      .form-row
        .col-2
          = form.submit "Next", class: "btn btn-primary", "data-target": "get-started.submit"
