- heading_disabled_class = @get_started_form.country.present? ? "": "disabled"
.row{
  id: "get_started",
  "data-controller": "get-started",
  "data-get-started-named-ids-value": AssessmentPublication::NAMED_IDS.to_json
}
  .col
    %h1 Let's Get Started
    = form_with model: @get_started_form, url: start_path(id: params[:id]), method: :patch, data: {"get-started-target": "form", action: "submit->get-started#validateForm"}, html: {novalidate: true} do |form|
      .form-row
        .col-6
          %h4 1. Select your country
          %label= @country.name
      - if @get_started_form.blank_assessment
        .form-row
          .col
            %h4 2. Select an assessment
            = form.hidden_field :blank_assessment
            = form.label :blank_assessment, "New JEE assessment", value: true, class: "form-check-label"
            %p
              %small.text-muted Add your own scores
      - else
        .form-row
          .col
            %h4{class: heading_disabled_class}
              2. Choose your most recent assessment
            - @publications.each do |ap|
              .form-check
                = form.radio_button :assessment_type, ap.named_id, class: "form-check-input", required: true, "data-action": "get-started#selectAssessment", autocomplete: "off"
                = form.label :assessment_type, "#{ap.title} (#{ap.abbrev})", value: ap.named_id, class: "form-check-label"
                .invalid-feedback Please choose an assessment.
              .plan-by-technical-area-container{
                style: "display: none",
                "data-get-started-target": "planByTechnicalAreasContainer",
                "data-assessment-named-id": ap.named_id
              }
                %label
                  %input{
                    type: "checkbox",
                    name: "get_started_form[plan_by_technical_ids]",
                    value: 1,
                    autocomplete: "off",
                    "data-action": "get-started#toggleTechnicalAreas",
                    "data-assessment-named-id": ap.named_id
                  }
                    %em Optional:
                    Plan by technical area(s)
                .collapse{
                  "data-get-started-target": "technicalAreaCard",
                  "data-assessment-named-id": ap.named_id
                }
                  .col.card
                    .row
                      .col
                        %a{
                          href: "#",
                          "data-action": "get-started#selectAllTechnicalAreas",
                          "data-assessment-named-id": ap.named_id
                        }
                          Select all
                        |
                        %a{
                          href: "#",
                          "data-action": "get-started#deselectAllTechnicalAreas",
                          "data-assessment-named-id": ap.named_id
                        }
                          Deselect all
                    .row
                      - col1_count = ((ap.assessment_technical_areas.size + 1) / 2).floor
                      .col
                        - ap.assessment_technical_areas.take(col1_count).each do |technical_area|
                          = render "checkbox_for_technical_area", technical_area: technical_area, form: form
                      .col
                        - ap.assessment_technical_areas.drop(col1_count).each do |technical_area|
                          = render "checkbox_for_technical_area", technical_area: technical_area, form: form
            - if @country.assessment_publications.empty?
              %div{style: "height: 75px"}
        .form-row
          .col
            %h4{class: heading_disabled_class}
              3. What kind of plan are you making?
            - if @get_started_form.country.present?
              .form-check
                = form.radio_button :plan_term, 1, class: "form-check-input", required: true, autocomplete: "off"
                = form.label :plan_term, "1 year plan", value: 1, class: "form-check-label"
                %p
                  %em
                    For each indicator, increase scores by 1 level.
              .form-check
                = form.radio_button :plan_term, 5, class: "form-check-input", required: true, autocomplete: "off"
                = form.label :plan_term, "5 year plan", value: 5, class: "form-check-label"
                %p
                  %em
                    For each indicator, increase scores to demonstrated (4) or sustained (5) capacity.
                .invalid-feedback Please choose a plan.
            - else
              %div{style: "height: 75px"}
      .form-row
        .col
          %h4{class: heading_disabled_class}
            = "#{@get_started_form.blank_assessment ? 3 : 4}. Do you want to add disease specific planning?"
          - if @country.present?
            - @diseases.each do |disease|
              .form-check
                = check_box_tag "get_started_form[diseases][]", disease.id, false, {class: "form-check-input", id: "diseases_#{disease.name}", autocomplete: "off"}
                %label{for: "diseases_#{disease.name}"}
                  = "Optional: #{disease.display} planning"
          - else
            %div{style: "height: 75px"}
      .form-row
        .col-2
          = form.submit "Next", class: "btn btn-primary", "data-get-started-target": "submit"
