<div
    class="modal"
    tabindex="-1"
    role="dialog"
    id="capacity-selection-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title display-header mx-4">
          Plan by Capacity Area
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-4">
        <p> Select the capacity area(s) you'd like to focus on </p>
        <%= form_tag '/country_select', id: "capacity-select-menu",
            data: { action: "assessment-selection.form" } do %>
          <%= hidden_field_tag "country",
            nil,
            data: { target: "assessment-selection.countryName" }
          %>
          <%= hidden_field_tag "assessment_type", "from-capacities" %>
          <div class="input-group mb-2">
            <ul class="list-unstyled" data-controller="checkbox-list">
              <li> <span data-target="checkbox-list.selectAllState" data-action="click->checkbox-list#selectAll"></span> Select All </li>
              <% @assessments["spar_2018"]["technical_area_order"].each do |capacity_id| %>
                <li> <%= check_box_tag "capacities[]",
                        @data_dictionary[capacity_id].parameterize,
                        true,
                        data: { target: "checkbox-list.listItem",
                                action: "change->checkbox-list#selectListItem" } %>
                     <%= label_tag @data_dictionary[capacity_id].parameterize, @data_dictionary[capacity_id] %> </li>
              <% end %>
            </ul>
          </div>
          <%= submit_tag "Next",
              class: "btn btn-primary w-100",
              data: { target: "assessment-selection.submitForm" } %>
      <% end %>
      </div>
    </div>
  </div>

</div>
