<div
    class="modal"
    tabindex="-1"
    role="dialog"
    id="technical-area-selection-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title display-header mx-4">
          Plan by Capacity Area
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-4" data-controller="checkbox-list">
        <p> Select the capacity area(s) you'd like to focus on </p>
        <%= form_tag '/country_select', id: "technical-area-select-menu",
            data: { action: "assessment-selection.form" } do %>
          <%= hidden_field_tag "country",
            nil,
            data: { target: "assessment-selection.countryName" }
          %>
          <%= hidden_field_tag "assessment_type", "from-capacities" %>
          <div class="input-group mb-2">
            <ul class="list-unstyled">
              <li id="select-all-buttons">
                <a data-action="click->checkbox-list#selectAll" class="text-primary">Select All</a>
                | <a data-action="click->checkbox-list#deselectAll" class="text-primary">Deselect All</a>
              </li>
              <% @assessments["spar_2018"]["technical_area_order"].each do |capacity_id| %>
                <li> <%= check_box_tag "capacity_ids[#{capacity_id}]",
                        capacity_id,
                        false,
                        name: "capacity_ids[]",
                        data: { target: "checkbox-list.listItem",
                                action: "change->checkbox-list#updateState" } %>
                     <%= label_tag @data_dictionary[capacity_id],
                       @data_dictionary[capacity_id] %> </li>
              <% end %>
            </ul>
          </div>
          <%= submit_tag "Next",
              class: "btn btn-primary w-100",
              data: { target: "assessment-selection.submitForm checkbox-list.submitForm" } %>
      <% end %>
      </div>
    </div>
  </div>

</div>
