- if document_present?(document)
  - technical_area_ids = technical_area_texts_to_ids(@technical_areas, document.technical_areas)
  - technical_area_css_classes = ta_ids_to_css_classes(technical_area_ids)
  .document.row.no-gutters{
    class: "#{technical_area_css_classes} reference-type-#{document.reference_type_ordinal}"
  }
    .document.col.card.flex-row
      - if document.thumbnail_url.present?
        .cover-image
          %a{href: document.download_url, target: "_blank"}
            %img{src: image_path(document.thumbnail_url), width: 160}/
      .document-about.col
        - if document.download_url.present? && document.title.present?
          %a{href: document.download_url, target: "_blank"}
            = document.title
        - elsif document.title.present?
          .document-title
            = document.title
        - if document.author.present? || document.date.present?
          .document-byline
            = [document.author, document.date].join(", ")
        - if document.description.present?
          .document-desc
            = document.description
        - if document.relevant_pages.present?
          .document-relevant-sections
            %strong
              Relevant Section:
            = document.relevant_pages
