- if [title, author, description, relevant_pages].any?(&:present?)
  .row.no-gutters
    .document.col.card.flex-row
      .cover-image
        %a{href: download_url, target: "_blank"}
          %img{src: image_path("resource-library/ENG-Facilitator-Guide-IDSR-Training.png")}
      .document-about.col
        - if download_url.present? && title.present?
          %a{href: download_url, target: "_blank"}
            = title
        - elsif title.present?
          .document-title
            = title
        - if author.present? || date.present?
          .document-byline
            = [author, date].join(", ")
        - if description.present?
          .document-desc
            = description
        - if relevant_pages.present?
          .document-relevant-sections
            %strong
              Relevant Section:
            = relevant_pages
