- if [title, author, description, relevant_pages, download_url, thumbnail_url].any?(&:present?)
  - tid = technical_area_to_id(@technical_areas, technical_area)
  .document.row.no-gutters{class: "technical-area-#{tid}"}
    .document.col.card.flex-row
      - if thumbnail_url.present?
        .cover-image
          %a{href: download_url, target: "_blank"}
            %img{src: image_path(thumbnail_url)}
      .document-about.col
        - if download_url.present? && title.present?
          %a{href: download_url, target: "_blank"}
            = title
        - elsif title.present?
          .document-title
            = title
        - if author.present? || date.present?
          .document-byline
            = [author, date].join(", ")
        - if description.present?
          .document-desc
            = description
        - if relevant_pages.present?
          .document-relevant-sections
            %strong
              Relevant Section:
            = relevant_pages
