= content_for :homepage do
  .section--blue.align-items-center
    .col-med.d-flex.text-center.flex-column.mb-4.align-items-center
      %h1.text-center
        Facilitate the planning and implementation of
        %br.d-none.d-md-inline/
        health security preparedness
  .section
    .container.mx-auto.my-5
      %h1.text-center Strengthening IHR Capacities
      %p.large.text-center
        This digital platform supports countries easily use existing assessments, benchmark recommendations and implementation tools to build IHR capacities for preparedness.
      .row.d-flex.justify-content-center.my-4
        .col-sm.my-4
          %div{style: "height:120px;"}
            = image_tag "review.svg", class: "img-fluid d-block mx-auto mb-4", alt: "Review"
          %h5 Review existing critical gaps
          %p
            Review how the various pieces of the IHR M&E framework can be implemented to reinforce preparedness in your country.
        .col-sm.my-4
          %div{style: "height:120px;"}
            = image_tag "draft.svg", class: "img-fluid d-block mx-auto mb-4", alt: "Develop"
          %h5 Develop draft plans
          %p
            Rapidly identify capacity building benchmark actions to support national priorities and NAPHS.
        .col-sm.my-4
          %div{style: "height:120px;"}
            = image_tag "reference.svg", class: "img-fluid d-block mx-auto mb-4", alt: "Reference"
          %h5 Find practical guidelines, toolkits and country examples
          %p
            Use the Reference Library to to quickly access relevant tools and guidance that are linked with capacity building actions.
      %p.large.text-center
        = link_to "Get Started", get_started_url, class: "btn btn-orange cta-btn", type: "button"
  .section--navy.position-relative.py-5
    .position-absolute.h-100.w-100#particles-js
    .container
      .row.d-flex
        .col-sm.m-auto= render "step_up_image"
        .col-sm.align-middle.my-auto
          %h1 IHR Capacity Building Stages
          .div#step-up-text
            %h3 Assess capacity
            %p
              Assessments such as JEE/SPAR to  identify and evaluate a country's national preparedness capacities, identify risks and prioritize actions for capacity building to prevent, detect, and rapidly respond to public health and threats.
            %a{class: "btn btn-orange", type: "button", href: assess_path}
              Learn More
