= content_for :homepage do
  .section--blue.align-items-center
    .col-med.d-flex.text-center.flex-column.mb-4.align-items-center
      %h1.text-center
        = t 'homepage.accelerate_planning'
        %br.d-none.d-md-inline/
        = t 'homepage.implementation_of_naphs'
      = link_to t('homepage.get_started'), get_started_url, class: "btn btn-orange cta-btn", type: "button"
  .section
    .container.mx-auto.my-5
      %h1.text-center
        = t 'homepage.a_new_easy_way'
      %p.large.text-center
        = t 'homepage.using_a_country_s'
      .row.d-flex.justify-content-center.my-4
        .col-sm.my-4
          = image_tag "score_and_goal.png", class: "img-fluid d-block mx-auto mb-4"
          %h5 
            = t 'homepage.scores_and_benchmarks_in_one_place'
          %p
            = t 'homepage.benchmark_actions_are_automatically'
        .col-sm.my-4
          = image_tag "document_types.png", class: "img-fluid d-block mx-auto mb-4"
          %h5
            = t 'homepage.robust_resource_library'
          %p
            = t 'homepage.recommended_actions_have_examples'
        .col-sm.my-4
          = image_tag "xlsx_export.png", class: "img-fluid d-block mx-auto mb-4"
          %h5
            = t 'homepage.export_a_draft_plan_in_one_click'
          %p
            = t(:after_reviewing_and_refining)
  .section--navy.position-relative.py-5
    .position-absolute.h-100.w-100#particles-js
    .container
      .row.d-flex
        .col-sm.m-auto= render "step_up_image"
        .col-sm.align-middle.my-auto
          %h1
            = t 'homepage.ihr_capacity_building_stages'
          .div#step-up-text
            %h3
              = t 'homepage.assess_capacity'
            %p
              = t 'homepage.assessments_such_as_jee'
  .section
    .container.mx-auto.my-5
      .row.d-flex
        .col-sm.my-4
          %h1
            = t 'homepage.step_up_your_planning'
          %h3
            = t 'homepage.go_from_draft_plan'
          %p
            = t 'homepage.charts_show_how_many'
          = link_to t('homepage.learn_more'), get_started_url, class: "btn btn-orange cta-btn", type: "button"
        .col.m-auto.my-4
          = image_tag "video_still.png", class: "img-fluid d-block m-auto"
