= render layout: "layouts/benchmark_document" do
  %h1
    8. Biosafety and biosecurity
  %p
    A whole-of-government multisectoral national
    = raw 'biosafety<sup><a href="#32">32</a></sup>'
    and
    = raw 'biosecurity<sup><a href="#33">33</a></sup>'
    system with dangerous
    = raw 'pathogens<sup><a href="#34">34</a></sup>'
    identified, held, secured and monitored in a minimal number of facilities according to best
    = raw 'practices;<sup><a href="#35">35</a></sup>'
    biological risk management training and educational outreach conducted to promote a shared culture of
    = raw 'responsibility,<sup><a href="#36">36</a></sup>'
    reduce dual-use risks, mitigate biological proliferation and ensure safe transfer of biological agents; and country-specific biosafety and biosecurity legislation, laboratory licensing and pathogen control measures in place as appropriate.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "star.svg"
    .col
      %h3
        Impact
      Implementation of a comprehensive, sustainable and legally embedded national oversight programme for biosafety and biosecurity, including the safe and secure use, storage, disposal and containment of pathogens found in laboratories and a minimal number of holdings across the country, and involving research, diagnostic and biotechnology facilities within all
      = raw 'sectors.<sup><a href="#37">37</a></sup>'
      Strengthened, sustainable biological risk management best practices are in place using common educational materials. Safe and compliant transport of infectious substances is also considered according to national and international regulations.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = inline_svg_tag "ico-bar-chart.svg"
    .col
      %h3
        Monitoring and evaluation
      (1) Existence of a national framework for pathogen biosafety and biosecurity, strain collections and containment laboratories that includes identification and storage of national strain collections in a minimal number of facilities from all sectors. (2) Existence of a comprehensive oversight and monitoring system.
  %hr.indicator-hr/
  %a{name: "8.1"}
  .indicator-head
    %h3
      Benchmark 8.1
    Whole-of-government biosafety and biosecurity system is in place for all sectors (including human, animal (domestic animals and wildlife) and environment facilities)
  %p
    %strong
      Objective:
    To develop and implement a biosafety and biosecurity system for all sectors (including human, animal (domestic and wildlife) and environment facilities) to minimize the risk of accidental or intentional infection of laboratory staff or release of hazardous pathogens
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      Elements of a comprehensive national biosafety and biosecurity system, such as policy instruments and proper financing, are not in place.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify and document human and animal health facilities that store/maintain dangerous pathogens and toxins in the relevant sectors and health professionals responsible for them.
        %li
          Review and develop or revise the national legislation/regulations for biosafety and biosecurity by the human health sector (or other appropriate authority).
        %li
          Establish a mechanism for laboratory licensing in human and animal health sectors; ensure that biosafety and biosecurity requirements are included in general licensing requirements.
        %li
          Conduct assessments of current biosafety and biosecurity practices, procedures and engineering controls at the national level.
        %li
          Develop pathogen control measures, including standards for containment, operational handling and failure reporting systems.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Develop a biosafety and biosecurity national framework including guidelines and record-keeping obligations at all laboratories working with hazardous agents.
        %li
          Develop and maintain inventories for dangerous pathogens.
        %li
          Secure dangerous pathogens and toxins at minimum number of national level laboratories.
        %li
          Implement biosafety and biosecurity best practices in all national, intermediate and local laboratories.
        %li
          Establish an information security system for all sensitive documentation in facilities where dangerous pathogens and toxins are stored.
        %li
          Implement national biosafety and biosecurity regulations and guidelines with all relevant sectors (such as human, animal, environmental health, defence ministry and stakeholders) with standardized classification and accreditation standards that cover pathogen control and personnel reliability programme requirements.
        %li
          Develop an action plan to replace dangerous pathogen cultures with safer investigation methods.
        %li
          Begin developing incident and emergency response programmes in facilities storing dangerous pathogens.
  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Implement the biosafety and biosecurity national framework in all laboratories at the national, intermediate and local levels.
        %li
          Develop site-specific biosafety/biosecurity supporting documents that include incident response and emergency plans (such as in case of explosion, fire, flood, worker exposure, accident or illness, major spillage, waste management) for laboratories at national, intermediate and local levels.
        %li
          Develop documents for dual-use research and responsible code of conduct for scientists and staff.
        %li
          Develop and implement an incident reporting system that includes identifying incidents, reporting according to regulations, and addressing action items that improve safety and security.
        %li
          Establish external monitoring and oversight of biosafety and biosecurity practices.
        %li
          Develop and implement equipment operation and maintenance plans at laboratories storing pathogens of security concern.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish sustainable funding and an oversight mechanism to support biosafety and biosecurity programmes/initiatives.
        %li
          Document implementation of the national biosafety and biosecurity legislations, which are aligned with the international best practices at all levels.
        %li
          Document and generate international good practices for biosafety and biosecurity arrangements.
        %li
          Secure sustainable funding and an oversight and enforcement mechanism to support biosafety and biosecurity programmes/initiatives at the ministry level.
  %a{name: "8.2"}
  .indicator-head
    %h3
      Benchmark 8.2:
    Biosafety and biosecurity training and practices in all relevant sectors (including human, animal (domestic animals and wildlife) and environment)
  %p
    %strong
      Objective:
    To develop a public health workforce that is available and trained to enable early detection, prevention, preparedness and response to potential events of international concern at all levels of health systems to effectively implement IHR
  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No biosafety and biosecurity training or plans are in place.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Assess biosafety and biosecurity training needs and gaps in all relevant sectors.
        %li
          Conduct an engagement meeting to develop biosafety and biosecurity training programmes that align academic curriculum with international best practices.
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Adapt in-service and continuing education training curricula, SOPs, toolkits, good microbiological practices and procedures to comply with biosafety and biosecurity rules and regulations and aligned with international best practices.
        %li
          Train and oversight facilities that are housing or working with dangerous pathogens and toxins to comply with biosafety and biosecurity rules and regulations.
        %li
          Begin developing sustained academic and continuing education, and training programmes for biosafety and biosecurity aligned with international best practices.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Implement training programmes and oversight and assess that they comply with biosafety and biosecurity rules and regulations, and are aligned with international best practices.
        %li
          Implement sustainable training programmes, that are aligned with international best practices, in institutions that train those who maintain or work with dangerous pathogens and toxins.
  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Align and implement sustainable training programmes in biosafety and biosecurity aligned with international best practices.
        %li
          Guarantee sustained funding to support training programmes from the national government.
        %li
          Include biosafety and biosecurity training courses in university curricula of pretraining education in both human and animal health sectors.
        %li
          Review training needs assessments on a regular basis and adjust and update training programmes according to the assessment results.
        %li
          Implement periodic training programmes on emergency response procedures.
  %h3 Tools:
  %ul
    %li
      %a{href: "https://extranet.who.int/lqsi/content/homepage", target: "_blank"}
        WHO laboratory biosafety manual. Third edition.
      Geneva: World Health Organization; 2004
    %li
      WHO guidance document: Stepwise implementation of regulatory requirements for ensuring biosafety and biosecurity in biomedical facilities (being finalized with expected publication in 2019).
    %li
      Guide to participating in the confidence-building measures of the biological weapons convention. Geneva: United Nations Office for Disarmament Affairs; 2013
  %hr.indicator-hr
    %h4 Footnotes:
    %a{name: "32"}
      %sup
        32
      Laboratory biosafety describes the containment principles, technologies and practices that are implemented to prevent unintentional exposure to pathogens and toxins, or their accidental release.
    %p
    %a{name: "33"}
      %sup
        33
      Laboratory biosecurity describes the protection, control and accountability for valuable biological materials within laboratories, as well as information related to these materials and dual-use research, to prevent their unauthorized access, loss, theft, misuse, diversion or intentional release.
    %p
    %a{name: "34"}
      %sup
        34
      %a{href: "http://www.australiagroup.net/en/human_animal_pathogens.html", target: "_blank"}
      List of human and animal pathogens and toxins for export control.
    %p
    %a{name: "35"}
      %sup
        35
      Minimal/best practices as referred in the WHO laboratory biosafety manual.
    %p
    %a{name: "36"}
      %sup
        36
      %a{href: "http://www.who.int/csr/resources/publications/HSE_GAR_BDP_2010_2/en/", target: "_blank"}
        Responsible life sciences research for global health security: a guidance document.
      WHO/HSE/GAR/BDP/2010.2. Geneva: World Health Organization; 2010.
    %p
    %a{name: "37"}
      %sup
        37
      Both human and animal health sectors.
