= render layout: "layouts/benchmark_document" do

  %h1
    5. Food Safety
  
  %p
    A functional system is in place for surveillance and response capacity of States Parties for foodborne disease and food contamination risks or events with effective communication and collaboration among the sectors responsible for food safety.
    
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "star.svg")
    .col
      %h3
        Impact
      Timely detection and effective response of potential food-related events in collaboration with other sectors responsible for food safety.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "ico-bar-chart.svg")
    .col
      %h3
        Monitoring and evaluation
      (1) Existence of indicator-based disease surveillance or event-based disease surveillance and supporting laboratory analysis to detect and assign aetiology for foodborne diseases or origin of contamination event, and investigation of hazards in foods linked to cases, outbreaks or events. (2) Existence of a national food safety emergency plan. (3) Existence of a designated International Food Safety Authorities Network (INFOSAN) Emergency Contact Point, and the OIE Focal Point on Animal Production Food Safety with a central coordination mechanism in place.

  %hr.indicator-hr
  %a{name: "5.1"}

  .indicator-head
    %h3
      Benchmark 5.1
    Surveillance systems in place for the detection and monitoring of foodborne diseases and food contamination
  %p
    %strong
      Objective:
    Strengthen surveillance systems for foodborne diseases and food contamination

  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No or very limited surveillance system in place for foodborne disease or for food contamination (chemical and microbiological) monitoring. 
      The country has to develop and implement all activities that are listed in level 2 to achieve limited capacity for the surveillance system. 

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review foodborne disease surveillance and food contamination monitoring capacity, and assess gaps and needs.
        %li
          Identify key stakeholders and focal points for foodborne disease surveillance and food contamination monitoring.
        %li
          Identify responsible groups in relevant agencies to coordinate development and implementation of foodborne disease surveillance and food contamination monitoring system(s).
        %li
          Develop a strategy to monitor trends and detect foodborne events to incorporate within the national communicable disease surveillance strategy (see surveillance technical area). 
        %li
          Link surveillance activities with the surveillance technical area benchmarks.
        %li
          Develop guidelines and SOPs for the detection of foodborne events and implement indicator-/event-based disease surveillance (refer to indicator-/event-based disease surveillance columns for respective
          = raw ' benchmarks).<sup><a href="#13">13</a></sup>'
        %li
          Develop and disseminate a training package on these guidelines and SOPs.
      %strong
        Establish indicator-based disease surveillance
      (or)
      %ul
        %li
          Develop guidelines and SOPs for priority foodborne diseases. 
        %li
          Establish a designated unit at all levels with operational plan and procedures.
        %li
          Establish and disseminate case definitions, process of detection, assessment and reporting of cases (user manual or guidelines) to national and subnational levels.
      %strong
        Establish event-based disease surveillance
      %ul
        %li
          Develop guidelines and SOPS. 
        %li
          Establish a designated unit at all needed levels with operational plan and procedures.
        %li
          Develop and put in place case definitions, process of detection, assessment and reporting of events (clusters or outbreaks) for country priority diseases, and dissemination to national and subnational levels.
        %li
          Establish a process to capture events from community and other sources (such as media, social media, private sector), and make the data available at all needed levels.
        
  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Implement actions (described above) for both indicator- and event-based disease surveillance systems at national and intermediate levels (district, province, region or state).
        %li
          Develop a laboratory  protocol for the investigation of foodborne diseases and food contamination.
        %li
          Train staff on these protocols with the provision of laboratory logistics in designated laboratories.
        %li
          Ensure provision of resources for the investigation of foodborne disease or food contamination events at the national level. This should include investigations into hazards in foods linked to cases, outbreaks or events.
        %li
          Test for foodborne diseases and/or contamination for the cases or events detected through indicator- or event-based disease surveillance to assign aetiology.
        %li
          Develop or adopt the risk assessment protocol of acute foodborne events (chemical and
          = raw 'microbiological).<sup><a href="#14">14</a></sup>'
        %li
          Develop an information-sharing protocol and mechanism that will apply to all relevant stakeholders involved in foodborne disease surveillance and food contamination
          = raw 'monitoring.<sup><a href="#22">22</a>, <a href="15">15</a></sup>'

  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li
          Train staff at national and subnational levels to conduct risk assessment of acute foodborne events.
        %li
          Allocate or identify resources for such training and risk assessments. 
        %li
          Conduct risk assessments of acute foodborne events (chemical and microbiological) and publish a periodic report (such as an epidemiological
          = raw ' bulletin).<sup><a href="#16">16</a>, <a href="#17">17</a>, <a href="#18">18</a>, <a href="#19">19</a></sup>'
        %li
          Train identified foodborne disease surveillance and food contamination monitoring focal points in the surveillance of such hazards.
        %li
          Conduct a Total Diet Study or similar study and implement outcomes to complement the existing national monitoring and surveillance
        = raw 'strategy.<sup><a href="#20">20</a></sup>'

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct an after-action review of a foodborne event or a simulation exercise in the absence of a real event to test the capacity of surveillance and monitoring systems. 
        %li
          Document findings and identify areas for improvement; update the strategy, guidelines and SOPs, if appropriate. 
        %li
          Share outcome with all relevant stakeholders.

  %a{name: "5.2"}

  .indicator-head
    %h3
      Benchmark 5.2:
    A functional mechanism is in place for the response and management of food safety emergencies 
  %p
    %strong
      Objective:
    Strengthen mechanisms for response and management of food safety emergencies

  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No mechanism for the response and management of food safety emergencies has been established or in place, or is very limited. 

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review the mechanism, if it exists, for the response and management of food safety emergencies to identify and assess gaps and needs, with reference to relevant Food and Agriculture Organization (FAO)/WHO
          = raw 'guidelines.<sup><a href="#21">21</a>, <a href="#22">22</a>, <a href="#23">23</a>, <a href="#24">24</a></sup>'
        %li
          Identify key government agencies involved in the response and management of food safety emergencies.
        %li
          Develop SOPs and guidelines for the response and management of food safety emergencies (These guidelines should be part of the overall surveillance guideline for foodborne diseases and
          = raw 'contamination).<sup><a href="#25">25</a></sup>'
        %li
          Designate an INFOSAN Emergency Contact Point in the government agency responsible for the response and management of food safety
          = raw 'emergencies.<sup><a href="#26">26</a></sup>'

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish communication channels among all relevant sectors including between the INFOSAN Emergency Contact Point and the IHR National Focal Point.
        %li
          Designate INFOSAN Focal Points with responsibility for food safety at appropriate levels in other government agencies.
        %li
          Develop a coordination mechanism with SOPs linking all relevant sectors together with a defined set of roles and responsibilities. 
        %li
          Develop and disseminate training packages on SOPs and guidelines for the response and management of food safety emergencies.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Develop strategies and guidance to communicate with partners, stakeholders, general public, international organizations and applicable regional and international networks, and orient them on these strategies and
          = raw 'guidance.<sup><a href="#27">27</a></sup>'
        %li
          Develop and disseminate risk communication messages to the public, through appropriate media, during food safety
          = raw 'emergencies.<sup><a href="#28">28</a></sup>'
        %li
          •	Establish information sharing mechanisms at regional and international levels.
        %li
          Establish a mechanism of sharing information regularly by the INFOSAN Emergency Contact Point with the IHR NFP, INFOSAN Focal Points and all relevant sectors during a food safety emergency. 

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct after-action reviews of response to food safety events or develop an exercise in the absence of a real event to assess and review the response, collaboration and communication mechanisms. 
        %li
          Ensure participation of the INFOSAN Emergency Contact Point in INFOSAN simulation exercises or real food safety emergencies, with the INFOSAN Secretariat. 
        %li
          Document and disseminate the findings in terms of timeliness, information exchange, public health risk messaging, efficiency and effectiveness of response, collaboration and communication.
        %li
          Review and update the management and response plan based on these findings.

  %h3 Tools:
  %ul
    %li
      %a{href: "http://www.who.int/foodsafety/en/", target: "_blank"}
        Food Safety
      accessed 30 January 2019.

  %hr.indicator-hr
    %h4 Footnotes:

    %a{name: "13"}
      %sup
        13
      %a{href: "http://www.who.int/foodsafety/publications/foodborne_disease/surveillancemanual/en/", target: "_blank"}
        Strengthening surveillance of and response to foodborne diseases
    
    %p
    %a{name: "14"}
      %sup
        14
      Food safety risk analysis:
      %a{href: "http://www.fao.org/docrep/012/a0822e/a0822e.pdf", target: "_blank"}
        A guide for national food safety authorities.
      Rome: Food and Agriculture Organization of the United Nations; 2009.

    %p
    %a{name: "15"}
      %sup
        15
      Assuring food safety and quality:
      %a{href: "http://www.fao.org/docrep/006/y8705e/y8705e00.htm", target: "_blank"}
        guidelines for strengthening national food control systems.
      Rome: Food and Agriculture Organization of the United Nations.
    
    %p
    %a{name: "16"}
      %sup
        16
      %a{href: "http://www.who.int/foodsafety/publications/foodborne_disease/surveillancemanual/en/", target: "_blank"}
        Environmental Health Criteria 240. Geneva: World Health Organization; 2009.
    
    %p
    %a{name: "17"}
      %sup
        17
    %a{href: "http://www.who.int/foodsafety/publications/pathogen/en/", target: "_blank"}
      Hazard characterization for pathogens in food and water: Microbiological risk assessment series 3, guidelines.
    Geneva: World Health Organization; 2003.

    %p
    %a{name: "18"}
      %sup
        18
    %a{href: "http://www.who.int/foodsafety/publications/mra7/en/", target: "_blank"}
      Exposure assessment of microbiological hazards in food: Microbiological risk assessment series 7, guidelines.
    Geneva: World Health Organization; 2008.

    %p
    %a{name: "19"}
      %sup
        19
    %a{href: "http:/www.who.int/foodsafety/publications/risk-characterization/en", target: "_blank"}
      Risk characterization of microbiological hazards in food: Microbiological risk assessment series 17, guidelines.
    Geneva: World Health Organization; 2009.

    %p
    %a{name: "20"}
      %sup
        20
    %a{href: "http://www.who.int/foodsafety/publications/tds_guidance/en/", target: "_blank"}
      Towards a harmonised total diet study approach: a guidance document.
    World Health Organization, Food and Agriculture Organization of the United Nations and European Food Safety Authority; 2011.

    %p
    %a{name: "21"}
      %sup
        21
    %a{href: "http://www.who.int/foodsafety/publications/emergency_response/en/", target: "_blank"}
      Risk characterization of microbiological hazards in food: Microbiological risk assessment series 17, guidelines.
    Rome: Food and Agriculture Organization of the United Nations and World Health Organization; 2010.

    %p
    %a{name: "22"}
      %sup
        22
    %a{href: "http://www.who.int/foodsafety/publications/risk_analysis/en/", target: "_blank"}
      FAO/WHO guide for application of risk analysis principles and procedures during food safety emergencies.
    Rome: Food and Agriculture Organization of the United Nations; 2011. 

    %p
    %a{name: "23"}
      %sup
        23
    %a{href: "http://www.who.int/foodsafety/publications/recall/en/", target: "_blank"}
      FAO/WHO guide for developing and improving national food recall systems.
    Rome: Food and Agriculture Organization of the United Nations and World Health Organization; 2012.

    %p
    %a{name: "24"}
      %sup
        24
    %a{href: "http://apps.who.int/iris/handle/10665/43771", target: "_blank"}
      Foodborne disease outbreaks: guidelines for investigation and control.
    Geneva: World Health Organization; 2008.

    %p
    %a{name: "25"}
      %sup
        25
    %a{href: "http://www.who.int/foodsafety/publications/risk-management-food/en/", target: "_blank"}
      Risk management and food safety: consultation report.
    Rome: Food and Agriculture Organization of the United Nations; 1998.

    %p
    %a{name: "26"}
      %sup
        26
    %a{href: "http://www.who.int/foodsafety/areas_work/infosan/INFOSAN_A4_EN_web.pdf", target: "_blank"}
      INFOSAN member roles and responsibilities.
    Geneva: World Health Organization; 2015.

    %p
    %a{name: "27"}
      %sup
        27
    %a{href: "http://www.fao.org/3/a-y8705e.pdf", target: "_blank"}
      Assuring food safety and quality: guidelines for strengthening national food control systems.
    Rome: Food and Agriculture Organization of the United Nations; 2003.

    %p
    %a{name: "28"}
      %sup
        28
    %a{href: "http:/www.who.int/foodsafety/publications/risk-characterization/en", target: "_blank"}
      Risk communication applied to food safety handbook (2016).
    Rome: Food and Agriculture Organization of the United Nations and World Health Organization; 2017.