= render layout: "layouts/benchmark_document" do

  %h1
    1. National Legislation, Policy and Financing

  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "scales-of-justice.svg")
    .col
      %h3
        Legislation and policy
      An adequate legal framework for States Parties is essential to support and enable the implementation of all their obligations and rights of the IHR. This can include the creation of new legislation and/or the revision of existing legislation, regulations or other instruments to facilitate implementation and compliance with IHR (2005). A lack of appropriate legislation or policy can be a major barrier to implementation and should be considered a priority to enable other technical areas to be implemented effectively.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "dollar.svg")
    .col
      %h3
        Finance
      States Parties should have the provision of adequate funding for IHR implementation through the national budget or other mechanisms. The country should have access to financial resources that can be accessed on time and distributed in response to public health emergencies for timely and adequate preparedness and response.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "star.svg")
    .col
      %h3
        Impact
      Legislation and financing is in place in all relevant sectors to support IHR implementation including relevant core capacity development and maintenance.
  .callout-with-icon
    .col-1.mx-auto.px-0
      = render file: Rails.root.join("app", "assets", "images", "ico-bar-chart.svg")
    .col
      %h3
        Monitoring and evaluation
      (1) Current legislation including laws, regulations, administrative requirements, policies or other government instruments, proven to be adequate in all relevant sectors to support IHR implementation. (2) Adequate finances available to enable timely, efficient and effective IHR implementation and response to all public health emergencies.

  %a{name: "1.1"}
  %hr.indicator-hr

  .indicator-head
    %h3
      Benchmark 1.1
    Domestic legislation, laws, regulations, policy and administrative requirements are available in all relevant sectors and effectively enable compliance with the IHR
  %p
    %strong
      Objective:
    To assess, adjust and align domestic legislation, laws, regulations, policy and administrative requirements in all relevant sectors to enable compliance with the IHR

  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No assessment of relevant legislation, laws, regulations, policy and administrative requirements, and other government instruments for IHR implementation.

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify and convene key stakeholders related to the review, formulation and implementation of legislation and policies.
        %li
          Assess current relevant legislation, laws, regulations, policy and administrative requirements for IHR implementation and identify gaps, including for reporting, prevention and control.
        %li
          Develop an implementation plan for the formulation/revision/adjustment and approval of prioritized legislation/regulations and policy (including regulatory or parliamentary process based on the country's practices, as necessary).
        %li
          Develop advocacy materials and package to raise awareness of the requirements of adjustments to parliamentarians, government, oppositions and other relevant stakeholders.
        %li
          Develop an orientation package to implement the legislation, laws, regulations, policy and administrative requirements.
        %li
          Identify legislative/policy champion(s) or broker(s) who can advocate for the law or policy to reach a successful end state.

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct an orientation with relevant stakeholders regarding adjustment in the legislation, laws, regulations, policy and administrative requirements.
        %li
          Develop a mechanism to implement these legislation, laws, regulations, policy and administrative requirements.
        %li
          Document the existence and use of appropriate legislation in all relevant sectors involved in IHR implementation.
        %li
          Develop or adjust the legislation, laws, regulations, policy and administrative requirements for implementation of IHR capacities for food safety, and if required for chemical safety.

  .indicator-capacity-row
    .col.head.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .col-9.body
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review the use of relevant legislation, laws, regulations, policy and administrative requirements, and determine whether they cover most aspects of IHR implementation.
        %li
          = precede "Identify specific areas" do
            %sup
              %a{href: "#5"}
                5
          that require legislation references (these are reference laws or regulations that can support IHR implementation) such as establishing the IHR national focal point (NFP) or to mandate the operation.
        %li
          Develop or document legislation references for chemical safety and radiation emergency that contribute to chemical and radio-nuclear events preparedness, detection and response.
        %li
          Document these legislation references and relevant interpretations that can assist in IHR implementation.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Confirm that relevant legislation, laws, regulations, policy and administrative requirements cover all aspects of IHR implementation based on the risk profile of the country.
        %li
          Develop or document legislation references for any outstanding issues (including radiation emergencies) that contribute to preparedness, detection and response.
        %li
          Document these legislation references and relevant interpretations that can assist in IHR implementation.

  %a{name: "1.2"}

  .indicator-head
    %h3
      Benchmark 1.2:
    Financing
    %sup
      %a{href: "#6"}
        6
    is available for the implementation of IHR capacities
  %p
    %strong
      Objective:
    To ensure financing is available for the implementation of IHR capacities

  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      No budget line or budgetary allocation
      %sup
        %a{href: "#7"}
          7
      available to finance the implementation of IHR capacities, and financing is handled through extrabudgetary means.
      %sup
        %a{href: "#8"}
          8

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify and convene key stakeholders related to the review of financing for implementation of IHR capacities, including budgetary allocation and external contribution for the implementation of IHR capacities.
        %li
          Review the national action plan or any relevant plan for the implementation of IHR capacities (if not developed, follow guidelines and develop the national action plan).
        %li
          Review the cost estimates and currently available funds for the implementation of IHR capacities; if a costed plan is not available, then identify focal points of key stakeholders and develop the costing. If necessary, hire costing experts to estimate the cost of the plan working closely with key technical focal points of each technical area.
        %li
          Conduct a resource mapping on domestic and/or external funds for the implementation of IHR capacities.
        %li
          Allocate the budget, either domestic or external funds, to the relevant sectors and their respective ministries to support the implementation of IHR capacities for biological hazards at the national level.
        %ul
          %li
            Develop the resource mobilization strategy and advocacy tools for the financing and identify key stakeholders.
          %li
            Develop a mechanism to lobby for domestic resources (both government and private sectors).

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review resource mapping status to allocate budget rationally to every sector at the national level.
        %li
          Allocate available budget from domestic and external sources for human health, veterinary public health, agriculture, and all other relevant ministries or sectors, to support the implementation of all IHR capacities at the national level.
        %li
          Implement and review the use of available financing and its effectiveness.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review resource mapping status to rationally allocate budget to every sector at national and subnational levels.
        %li
          Allocate sufficient
          %sup
            %a{href: "#9"}
              9
          budget at national and subnational levels for the implementation of all IHR capacities in all relevant ministries or sectors.
        %li
          Monitor budget distribution and expenditure by all the relevant ministries at national and subnational levels.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-desc
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Conduct regular meetings to review implementation of the allocated budget by all relevant ministries or sectors.
        %li
          Develop a tool to monitor that timely distribution and use of the budget are coordinated for activities and interventions to implement IHR capacities.
        %li
          Document and disseminate information on the timely distribution and effective use of funds to increase health security (such as preventing or stopping the spread of disease), at the national and subnational levels in all relevant ministries or sectors.

  %a{name: "1.3"}

  .indicator-head
    %h3
      Benchmark 1.3:
    Financing available for timely response to public health emergencies
    %sup
      %a{href: "#10"}
        10
  %p
    %strong
      Objective:
    To develop a financing mechanism to ensure that funds are available for timely response to public health emergencies

  .indicator-capacity-row.first
    .head.col.bg-danger
      .level-num
        01
      .level-desc
        No capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          No mechanism of financing exists to respond to public health emergencies.
        %li
          Funds are allocated and distributed in an ad hoc manner from different sources during public health emergencies.

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        02
      .level-desc
        Limited capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Identify and convene key stakeholders to review the status of the emergency financing mechanism
          %sup
            %a{href: "#11"}
              11
          to respond to public health emergencies.
        %li
          Review the emergency public financing mechanism, particularly the acceptance and rapid distribution of funds to respond to public health emergencies.
        %li
          Conduct stakeholder analysis to identify domestic and external partners who can support mobilizing funds during emergencies, and, if necessary and appropriate, establish a memorandum of understanding with these stakeholders.
        %li
          Develop or revise the mechanism and structure to receive and rapidly distribute funds during emergencies. Conduct a simulation exercise or after-action review to assess functionality of the new finance policy or procedures. Document outcomes and make necessary changes to optimize procedure.

  .indicator-capacity-row
    .head.col.bg-warning
      .level-num
        03
      .level-desc
        Developed capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Review and ensure functionality of the emergency public financing mechanism, particularly the mobilization of funds when needed at the national, state, provincial and regional levels for all relevant sectors.
        %li
          Develop and disseminate protocols or mechanisms for the timely execution
        %sup
          %a{href: "#12"}
            12
          of funds by all relevant sectors.
        %li
          Conduct a field test of the mechanism and update if necessary.
        %li
          Demonstrate and document that the funds are mobilized in advance of a public health emergency.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        04
      .level-desc
        Demonstrated capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Demonstrate that all relevant ministries have capacity to access and utilize the emergency public financing mechanism for early detection and response operations.
        %li
          Develop SOP's to support actors not usually involved with public sector services, such as nongovernmental organizations and the private sector to access emergency funds when needed
        %li
          Develop SOP's or MoU's that fast-track procurement and service agreements that can be activated during emergencies to expedite response.
        %li
          Develop accounting and reporting procedures for accountability and transparency of all emergency SOP and MOU's that will be used during emergency response.
        %li
          Review the effectiveness of emergency financing mechanism following any response to a public health emergencies and adjust procedures to ensure speed, transparency and accountability of all funds.

  .indicator-capacity-row
    .head.col.bg-success
      .level-num
        05
      .level-num
        Sustainable capacity
    .body.col-9
      %strong
        Actions to achieve this level:
      %ul
        %li
          Establish an emergency contingency fund at the national level with the support of urgent response, and when required a national authority which can coordinate the receipt and distribution of funds to local and intermediate levels.
        %li
          Establish a link and/or memorandum of understanding with other regional or global emergency contingency funds, through which a national authority can coordinate and distribute funds.
        %li
          Establish a system for accountability of the distribution and use of these funds and publish information documenting transparency in expenditure and programme impacts towards protecting health.

  %h3 Tools:
  %ul
    %li
      Strengthening health security by implementing the International Health Regulations (2005) –
      = succeed "." do
        %a{href: "https://www.who.int/ihr/about/general_information/en/", target: "_blank"}
          General Information
    %li
      %a{href: "http://apps.who.int/iris/bitstream/handle/10665/246107/9789241580496-eng.pdf", target: "_blank"}
        International Health Regulations (2005). Third edition. Geneva: World Health Organization
      ; 2016
    %li
      = succeed "." do
        %a{href: "https://www.who.int/ihr/legal_issues/en/", target: "_blank"}
          Support to national legislation for IHR implementation
    %li
      IHR (2005):
      = succeed "." do
        %a{href: "https://www.who.int/ihr/legal_issues/legislation/en/", target: "_blank"}
          Guidance on implementation in national legislation
    %li
      = succeed "." do
        %a{href: "https://extranet.who.int/sph/delivering-global-health-security-through-sustainable-financing", target: "_blank"}
          Delivering global health security through sustainable financing
      Geneva: World Health Organization; 2018
    %li
      %a{href: "https://www.who.int/emergencies/funding/en/", target: "_blank"}
        Funding for emergencies
  
  %hr.indicator-hr
    %h4 Footnotes:

    %a{name: "5"}
    %p
      %sup
        5
      These are areas not specifically addressed by existing laws or regulations.

    %a{name: "6"}
    %p
      %sup
        6
      Financing refers to funds and resources identified, allocated, distributed and executed with regard to activities and interventions. It does not consider costing or identifying how many resources or funds are necessary for the implementation of activities or interventions.

    %a{name: "7"}
    %p
      %sup
        7
      A budget line exists, and a budget is allocated (the budget line is funded).

    %a{name: "8"}
    %p
      %sup
        8
      Accounts held by government bodies, but not included in the government budget.
    
    %a{name: "9"}
    %p
      %sup
        9
      This refers to access to funds by relevant ministries or government bodies for the implementation of all IHR capacities. Sufficiency is measured, where possible, by comparing budget allocation amounts to resource needs identified in national plans related to IHR and/or health security.
    
    %a{name: "10"}
    %p
      %sup
        10
      Defined by the country through a set of triggers that declare a situation as a public health emergency.
    
    %a{name: "11"}
    %p
      %sup
        11
      A special set of processes or channels in place that activates a special emergency public financing mechanism, allows for rapid reception and distribution of funds, and circumvents the various checks and balances of the normal public financing mechanism.

    %a{name: "12"}
    %p
      %sup
        12
      Response to public health emergencies includes a series of interventions (such as supply and equipment procurement, human resource contracting and deployment, logistical arrangements), and engages actors not usually involved with public sector services (such as nongovernmental organizations and the private sector), which under normal circumstances can take a fair amount of work and time and may not even be possible. Mechanisms, including fast-track execution procedures and letters of understanding with nonstate actors, need to be in place before an emergency occurs, to allow for expedited spending of funds for aspects that are crucial to emergency response.