.row.align-items-center
  .col
    %h1 Log in
  .col.d-flex.justify-content-end
    = link_to "Forgot password?", new_password_path(resource_name)
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row.pt-4
    .form-group.col
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true, placeholder: "Email"
  .row.pt-3
    .form-group.col
      = f.password_field :password, autocomplete: "current-password", class: "form-control", required: true, placeholder: "Password"
  .row.pt-4
    .col
      = f.submit "LOG IN", class: "w-100 btn btn-orange"
