<div class="bg-light-gray border border-gray widget-container p-3">
   <strong>Capacity Score Levels</strong>
   <ul class="scores-levels p-0 pt-4 pl-3 mb-2">
     <li class="bg-red"><%= @goals.assessment_type.match("jee") ? 1 : 20 %></li>
     <li class="bg-yellow"><%= @goals.assessment_type.match("jee") ? 2 : 40 %></li>
     <li class="bg-yellow"><%= @goals.assessment_type.match("jee") ? 3 : 60 %></li>
     <li class="bg-green"><%= @goals.assessment_type.match("jee") ? 4 : 80 %></li>
     <li class="bg-green"><%= @goals.assessment_type.match("jee") ? 5 : 100 %></li>
   </ul>
   <ul class="scores-legend p-0">
     <li>No capacity</li>
     <li>Limited capacity</li>
     <li>Developed capacity</li>
     <li>Demonstrated capacity</li>
     <li>Sustainable capacity</li>
   </ul>
</div>

