<div class="row">
  <div class="col">
    <%= form_for @plan, remote: true, data: { controller: "plan" } do |f| %>
    <!-- -->
    <%= f.hidden_field :activity_map, value: @plan.activity_map.to_json, data: {
    target: "plan.activityMap"} %>
    <div class="row bg-light-gray p-4">
      <div class="col d-flex justify-content-end">
        <%= f.submit "Save Plan", data: { target: "plan.submit"}, class: "btn"
        %>
      </div>
    </div>

    <div class="row m-4">
      <div class="col-9">
        <h1 class="alt-header"><%= f.text_field :name %></h1>
        <p>
          [SPACE FOR INSTRUCTION TEXT?] Placeholder -- Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip.
        </p>
      </div>
    </div>

    <div class="row m-4">
      <div class="col">
        <% @plan.activity_map.each do |benchmark_id, activities| %>
        <!-- -->
        <%= render 'benchmark_activities', benchmark_id: benchmark_id,
        activities: activities, benchmarks: @benchmarks %>

        <!--
        <table class="table">
            <tr>
              <th>
                <p>
                  Benchmark <%= benchmark_id %>: <%=
                  @benchmarks.benchmark_text(benchmark_id) %>
                </p>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% activities.each do |activity| %>
            <tr>
              <td><%= activity %></td>
              <td>
                <button
                  class="btn bg-white"
                  data-action="plan#deleteActivity"
                  data-benchmark-id="<%= benchmark_id %>"
                  data-activity="<%= activity %>"
                >
                  <img src="/delete-button.svg" />
                </button>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        -->
        <% end %>
      </div>
    </div>

    <!--
    <div>
      <%= button_tag "Add Activity", type: :button, data: { action:
      "plan#showNewActivity" } %> <%= text_field_tag :new_activity, nil, class:
      "d-none", data: { target: "plan.newActivity", action:
      "keypress->plan#addNewActivity" } %>
    </div>
    -->
  </div>
  <% end %>
</div>
