<div class="row">

<% if @scores %>
    <div class="col-1"></div>
    <div class="col-10 page">
        <div class="sheet">
            <table class="table">
                <thead>
                <tr class="jee-table-header">
                    <th scope="col"> Technical Areas </th>
                    <th scope="col"> Indicators </th>
                    <th scope="col"> Score </th>
                    <th scope="col"> Goal </th>
                </tr>
                </thead>

                <tbody>
                <% @assessments['jee1']['technical_area_order'].each do |technical_area_id| %>
                    <% technical_area = @assessments['jee1']['technical_areas'][technical_area_id] %>
                    <tr>
                        <th class="border-right"
                            scope="row"
                            rowspan="<%= technical_area['indicators'].count %>">
                            <%= @data_dictionary[technical_area_id] %>
                        </th>
                        <td> <%= @data_dictionary[technical_area['indicators'][0]] %> </td>
                        <td> <%= render 'application/input', name: technical_area['indicators'][0], value: @scores[technical_area['indicators'][0]] %> </td>
                        <td> <%= render 'application/input', name: technical_area['indicators'][0], value: @scores[technical_area['indicators'][0]]+1 %> </td>
                    </tr>

                    <% technical_area['indicators'].drop(1).each do |indicator| %>
                    <tr>
                        <td> <%= @data_dictionary[indicator] %> </td>
                        <td> <%= render 'application/input', name: indicator, value: @scores[indicator] %> </td>
                        <td> <%= render 'application/input', name: indicator, value: @scores[indicator]+1 %> </td>
                    </tr>
                    <% end %>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-1"></div>
<% else %>
    <div class="col">
    <div>No assessment available</div>
    </div>
<% end %>

</div>
