<div
  data-controller="action"
  data-target="benchmark.action"
  data-action-id="<%= benchmark_action_id %>"
  data-action-bar-segment-index="<%= bar_segment_index %>"
  class="action row p-2 <%= action_type_classes %>"
>
  <div class="col-auto d-flex flex-row align-items-center">
    <span class="badge badge-pill badge-success badge-rounded-circle color-value-<%= benchmark_action_level %>">
      <span class="action-level"><%= benchmark_action_level %></span>
    </span>
  </div>
  <div class="col-10">
    <strong><%= indicator_display_abbrev %></strong>
    <span class="action-text">
      <%= benchmark_action_text %>
    </span>
  </div>
  <div class="col">
    <button
      class="delete close"
      type="button"
      data-action="action#deleteSelf"
    >
      <img src="/delete-button.svg" alt="Delete this action"/>
    </button>
  </div>
</div>
