<div class="row activity p-2 type-code-<%= (@benchmarks.type_code_1s[activity["type_code_1"].to_s] || "unknown").parameterize %>">
  <% if goal.present? %>
    <div class="col-1 goal-value-circle">
      <span class="badge badge-pill badge-success badge-rounded-circle color-value-<%= goal.value %>">
        <span><%= goal.value %></span>
      </span>
    </div>
  <% end %>
  <div class="col-1<%= goal.present? ? 0: 1 %>">
    <strong><%= benchmark_id %></strong>
    <%= activity["text"] %>
  </div>
  <div class="col-1">
    <button
      class="delete close"
      type="button"
      data-action="plan#deleteActivity"
      data-benchmark-id="<%= benchmark_id %>"
      data-activity="<%= activity["text"] %>"
    >
      <img src="/delete-button.svg" />
    </button>
  </div>
</div>
