<div
  data-controller="activity"
  data-target="benchmark.activity"
  data-activity-id="<%= benchmark_activity_id %>"
  data-activity-bar-segment-index="<%= bar_segment_index %>"
  class="activity row p-2 <%= activity_type_classes %>"
>
  <div class="col-auto d-flex flex-row align-items-center">
    <span class="badge badge-pill badge-success badge-rounded-circle color-value-<%= benchmark_activity_level %>">
      <span class="activity-level"><%= benchmark_activity_level %></span>
    </span>
  </div>
  <div class="col-10">
    <strong><%= indicator_display_abbrev %></strong>
    <span class="activity-text">
      <%= benchmark_activity_text %>
    </span>
  </div>
  <div class="col">
    <button
      class="delete close"
      type="button"
      data-action="activity#deleteSelf"
    >
      <img src="/delete-button.svg" alt="Delete this activity"/>
    </button>
  </div>
</div>
