<div data-controller="benchmark" data-target="benchmark.self" class="benchmark-container">
  <div class="row bg-light-gray px-2 header">
    <div class="col-11">
      <b>Benchmark <%= benchmark_id.to_s %>:</b> <%=
      benchmarks.indicator_text(benchmark_id) %>
    </div>
    <div class="col-1 d-flex justify-content-end" data-action="mouseleave->benchmark#reset">
      <button
        class="close confirm-delete"
        type="button"
        data-action="benchmark#confirm"
        data-target="benchmark.confirm"
      >
        <img src="/delete-button.svg" />
      </button>
      <br>
      <button class="close delete"
              type="button"
              data-action="benchmark#delete"
              data-benchmark-id="<%= benchmark_id %>"
              data-target="benchmark.delete"
      >
        Really delete?
      </button>
    </div>
  </div>

  <% goal = @plan.goals && @plan.goals[benchmark_id.to_s] ? Score.new(@plan.goals[benchmark_id.to_s]["value"]) : nil %>
  <% score = @plan.scores && @plan.scores[benchmark_id.to_s] ? Score.new(@plan.scores[benchmark_id.to_s]["value"]) : nil %>

  <%= content_tag :div, id: "activity_container_#{benchmark_id.to_s.parameterize}" do %>
    <% if (goal == score) && activities.length.zero? %>
      <div class="row p-3 no-activities">
        <div class="col font-italic">
          There is no capacity gap for activities. You should review the Benchmarks document to ensure you have completed the tasks up to this level.
        </div>
      </div>
    <% end %>
    <% activities.each do |activity| %>
      <%= render "activity", benchmark_id: benchmark_id, activity: activity %>
    <% end %>
  <% end %>

  <% in_range_activities = (goal && score) ? benchmarks.goal_activities(benchmark_id, score, goal) : [] %>
  <%= render "activity_form", benchmark_id: benchmark_id, in_range_activities: in_range_activities, activities: benchmarks.activity_texts(benchmark_id) %>
</div>
