<% plan_indicator_goal = @plan.goal_for(benchmark_indicator: benchmark_indicator) %>
<% plan_indicator_activities = @plan.activities_for(benchmark_indicator) || [] %>
<% bar_segment_index = benchmark_technical_area.sequence - 1 %>

<div
  data-controller="benchmark"
  data-target="benchmark.self"
  data-benchmark-indicator-id="<%= benchmark_indicator.id %>"
  data-benchmark-indicator-display-abbrev="<%= benchmark_indicator.display_abbreviation %>"
  data-benchmark-activity-row-template-selector="#activity-row-template"
  data-benchmark-bar-segment-index="<%= bar_segment_index %>"
  class="benchmark-container col"
>
  <div class="row bg-light-gray px-2 header">
    <div class="col-11">
      <b>Benchmark <%= benchmark_indicator.display_abbreviation %>:</b>
      <%= benchmark_indicator.text %>
    </div>
    <div class="col-1 d-flex justify-content-end" data-action="mouseleave->benchmark#reset">
      <button
        class="close confirm-delete"
        type="button"
        data-action="benchmark#confirm"
        data-target="benchmark.confirm"
      >
        <img src="/delete-button.svg" alt="Delete activities for this section" />
      </button>
      <br>
      <button class="close delete"
              type="button"
              data-action="benchmark#deleteActivitiesForIndicator"
              data-target="benchmark.delete"
      >
        Really delete?
      </button>
    </div>
  </div>


  <% if plan_indicator_goal.blank? %>
    <%= render 'no_capacity_gap' %>
  <% else %>
    <% plan_indicator_activities.each do |plan_activity| %>
      <% benchmark_activity = plan_activity.benchmark_indicator_activity %>
      <%= render "activity",
                 bar_segment_index:           bar_segment_index,
                 benchmark_technical_area_id: benchmark_technical_area.id,
                 benchmark_indicator_id:      benchmark_indicator.id,
                 indicator_display_abbrev:    benchmark_indicator.display_abbreviation,
                 benchmark_activity_id:       benchmark_activity.id,
                 benchmark_activity_level:    benchmark_activity.level,
                 benchmark_activity_text:     benchmark_activity.text,
                 activity_type_classes:       benchmark_activity.activity_types.map { |type_num| "activity-type-#{type_num}" }.join(" ")
      %>
    <% end %>

    <!-- Add an Activity -->
    <div class="row activity-form">
      <div class="col">
        <%= text_field_tag(
                :new_activity,
                nil,
                id: nil, # avoids having multiple fields with same id "new_activity"
                class:       "w-100",
                placeholder: "+ Add Activity",
                data: {
                    target: "benchmark.addActivityField",
                    action: "focus->benchmark#showAutocomplete",
                },
                autocomplete: "off"
            )
        %>
      </div>
    </div>
  <% end %>
</div>
