<div class="capacity-container"
     id="capacity-<%= chart_label %>"
     title="<%= capacity[:name] %>"
>
  <h2 id="<%= capacity[:name].parameterize %>">
    <%= capacity[:id] %>.
    <%= capacity[:name] %>
  </h2>
  <% (@benchmarks.capacity_benchmarks capacity[:id]).each do |benchmark| %>
    <!-- -->
    <% activities = @plan.activity_map.benchmark_activities(benchmark[:id]) %>
    <%= render 'benchmark_activities', benchmark_id: benchmark[:id],
      activities: activities, benchmarks: @benchmarks %>
    <!-- -->
  <% end %>
</div>
