<div
    class="modal"
    tabindex="-1"
    role="dialog"
    id="joint-country-selection-modal"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title display-header mx-4">
          LET'S GET STARTED!
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-4">
        <p>
          Our plans are comprised of activities based off of the gap between
          the capacity score and step up score.
        </p>

        <p>
          You can create a plan from the Joint External Evaluation (JEE) or
          State Party Self-Assessment Annual Reporting (SPAR) scores.
        </p>

        <p>
          If the country hasn’t done either assessment, you can create a plan
          from technical areas.
        </p>

        <%= form_tag '/country_select', id: "assessment-select-menu" do %>
          <%= hidden_field_tag "country", nil, data: { target: "joint-country-select.selectedCountryModal" } %>
          <div class="input-group">
            <%= select_tag "country",
              options_from_collection_for_select(@countries, 'name', 'name'),
              class: "custom-select",
              data: { target: "joint-country-select.selectedCountry",
                      action: "joint-country-select#select_country" }
            %>
          <div class="input-group mb-2">
            <%= select_tag "assessment_type",
              options_from_collection_for_select([], 'assessment_type', 'assessment_type'),
              class: "custom-select",
              data: { target: "joint-country-select.assessmentTypes" } %>
          </div>
          <%= button_tag "Next", type: :submit, class: "btn btn-primary w-100" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
