<%= form_with model: @plan do |f| %>
<!-- -->
  <%= f.hidden_field :activity_map, value: @plan.activity_map.to_json, data: {
  target: "plan.activityMap"}, autocomplete: "off" %>
  <div class="row bg-light-gray p-4 full-width">
    <div class="offset-1 col-4"></div>
    <div class="col-4">
      <div class="form-group">
        <strong><%= label_tag "Jump to:" %></strong>
        <%= select_tag "capacity_area", options_from_collection_for_select(@benchmarks.capacity_names, :parameterize, :itself) , class: "custom-select", data: { controller: "scroll", action: "scroll#scroll" }, include_blank: "Select Technical Area" %>
      </div>
    </div>
    <div class="col-2 d-flex">
      <%= f.submit "Save Plan", data: { target: "plan.submit"}, class: "btn btn-orange w-100 h-50 align-self-center" %>
    </div>
  </div>

  <div class="row m-4">
    <div class="col-9">
      <h1 class="alt-header"><%= f.text_field :name %></h1>
      <p>
        [SPACE FOR INSTRUCTION TEXT?] Placeholder -- Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip.
      </p>
    </div>
  </div>
<% end %>
