
<% chart_labels_by_technical_area = [
    "Legislation",
    "IHR coordination",
    "AMR",
    "Zoonotic disease",
    "Food safety",
    "Immunization",
    "Laboratory",
    "Biosafety & biosecurity",
    "Surveillance",
    "Human resources", "Preparedness",
    "Rapid response",
    "Linking public health",
    "Medical countermeasures",
    "Risk communication",
    "Points of entry",
    "Chemical events",
    "Radiation",
] %>

<div data-react-class="PlanEditPage" data-react-props="{}" data-react-cache-id="PlanEditPage-0"></div>

<%# the STATE_FROM_SERVER hash cannot end with ";" or else the JSON parser fails in save_state_from_server() %>
<script type="application/javascript" id="state_from_server">
    window.STATE_FROM_SERVER = {
        "formAuthenticityToken": "<%= form_authenticity_token %>",
        "formActionUrl": "<%= url_for(@plan) %>",
        "technicalAreas": <%= raw @benchmark_technical_areas.to_json %>,
        "indicators": <%= raw @benchmark_indicators.to_json %>,
        "actions": <%= raw @all_actions.to_json %>,
        "plan": <%= raw @plan.to_json %>,
        "planGoals": <%= raw @plan.goals.to_json %>,
        "planChartLabels": <%= raw [chart_labels_by_technical_area, BenchmarkIndicatorAction::ACTION_TYPES].to_json %>,
        "nudgesByActionType": <%= raw @nudges_by_action_type_json %>,
        "diseases": <%= raw @diseases.to_json %>,
        "currentAndTargetScores": <%= raw @plan.current_and_target_scores.to_json %>
    };
</script>
<script type="application/javascript">
  document.addEventListener('turbolinks:load', function () {
    Turbolinks.clearCache()
  });
</script>
