<%= render "plan_review_modal" %>
<div class="row">
  <div class="col plan-container" data-controller="plan">
    <%= render "plan_form" %>
    <div class="row m-4">
      <div class="col">
        <% @benchmarks.capacities.each do |capacity| %>
          <div class="capacity-container">
            <h2 id="<%= capacity[:name].parameterize %>"><%= capacity[:id] %>. <%= capacity[:name] %></h2>
            <% (@benchmarks.capacity_benchmarks capacity[:id]).each do |benchmark| %>
              <!-- -->
              <% activities = @plan.activity_map.benchmark_activities(benchmark[:id]) %>
              <%= render 'benchmark_activities', benchmark_id: benchmark[:id],
                activities: activities, benchmarks: @benchmarks %>
              <!-- -->
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
