<% chart_labels_by_technical_area = benchmark_ta_abbreviations %>

<%= render "plan_review_modal" %>

<div class="row">

  <div class="col plan-container" data-controller="plan"
       data-plan-chart-selectors='["#bar-chart-by-technical-area", "#bar-chart-by-activity-type"]'
       data-plan-chart-labels='[<%= chart_labels_by_technical_area %>, <%= BenchmarkIndicatorActivity::ACTIVITY_TYPES.to_json %>]'
       data-plan-chart-series='[<%= @plan.count_activities_by_ta %>, <%= @plan.count_activities_by_type %>]'
       data-plan-chart-width="730"
       data-plan-chart-height="240"
       data-plan-activity-ids='<%= @plan.benchmark_indicator_activity_ids.to_json %>'
  >
    <%= form_for @plan, class: "needs-validation", novalidate: true, data: { target: "plan.form" } do |form| %>
      <%= form.hidden_field :benchmark_activity_ids,
                            value: nil, # populated later via JS upon form submit event
                            data: {target: "plan.fieldForActivityIds"},
                            autocomplete: "off"
      %>

      <!-- Plan Form: Edit Name, Save Button (its a DIV.row) -->
      <%= render "plan_name_sticky", form: form %>

      <!-- Count of Total Activities -->
      <div class="row">
        <div class="col mt-5">
          <div class="row mx-0 activity-count-header align-items-center">
            <div class="activity-count-circle col-auto d-flex flex-column align-items-center justify-content-center">
              <span><%= @plan.plan_activities.size %></span>
            </div>
            <div class="col-auto">
              <p>Total Activities</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Row for Charts and Nudges -->
      <div class="row">
        <div class="col mt-5">

          <!-- Card for Bar Chart and Nudge -->
          <div class="plan card">

            <ul class="nav nav-tabs pt-3" role="tablist">
              <li class="nav-item px-2">
                <a class="nav-link active" data-toggle="tab" href="#tabContentForTechnicalArea" id="tabForTechnicalArea" role="tab" aria-controls="technical-area" aria-selected="true">
                  Technical Area</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" data-toggle="tab" href="#tabContentForActivityType" id="tabForActivityType" role="tab" aria-controls="activity-type" aria-selected="false">
                  Activity Type</a>
              </li>
            </ul>

            <!-- Left Col -->
            <div class="row tab-content">
              <div id="tabContentForTechnicalArea" aria-labelledby="tabForTechnicalArea" role="tabpanel" class="col-auto tab-pane fade show active">
                <div class="col-auto d-flex flex-column justify-content-center align-items-center">
                  <h6 class="my-3">Actions per benchmark technical area</h6>
                  <!-- Actual Chart, by Technical Area -->
                  <div id="bar-chart-by-technical-area" class="ct-chart-bar"></div>
                </div>
              </div>

              <div id="tabContentForActivityType" aria-labelledby="tabForActivityType" role="tabpanel" class="col-auto tab-pane fade">
                <div class="col-auto d-flex flex-column justify-content-center align-items-center">
                  <h6 class="my-3">Actions per activity type</h6>
                  <!-- Actual Chart, by Activity Type -->
                  <div id="bar-chart-by-activity-type" class="ct-chart-bar"></div>
                </div>
              </div>
            </div>

            <!-- Right Col -->
            <div class="col">
              <!-- Nudge goes here -->
            </div>
          </div>
        </div>
      </div>

      <!-- List of Activities -->
      <div class="row my-5">
        <div id="activity-list-by-tech-container" class="col-auto">
          <% @benchmark_technical_areas.each_with_index do |benchmark_technical_area, index| %>
            <%= render 'technical_area',
                       benchmark_technical_area: benchmark_technical_area,
                       chart_label: chart_labels_by_technical_area[index]
            %>
          <% end %>
        </div>
        <div id="activity-list-by-type-container" class="col-auto">
          <h2></h2>
          <div class="col"></div>
        </div>
      </div>

    <% end %>
  </div>

  <script type="text/template" id="activity-row-template">
    <%= render "activity",
               benchmark_activity_id:    "{{benchmarkActivityId}}",
               display_abbreviation:     "{{displayAbbreviation}}",
               benchmark_activity_level: "{{benchmarkActivityLevel}}",
               benchmark_activity_text:  "{{benchmarkActivityText}}",
               activity_type_classes:    "{{benchmarkActivityTypes}}"
    %>
  </script>
</div>
