<%= render "plan_review_modal" %>

<div class="row">
  <div class="col plan-container" data-controller="plan">

    <!-- Plan Form: Edit Name, Save Plan -->
    <%= render "plan_form" %>

    <div class="row">

      <!-- Count of Total Activities -->
      <div class="mt-5">
        <div class="row mx-0 activity-count-header align-items-center">
          <div class="activity-count-circle col-auto d-flex flex-column align-items-center justify-content-center">
            <span><%= @plan.all_activities.size %></span>
          </div>
          <div class="col-auto">
            <p>Total Activities</p>
          </div>
        </div>
      </div>

      <!-- List of Activities -->
      <div class="mt-5">
        <% @benchmarks.capacities.each do |capacity| %>
          <% if @plan.assessment_type == "from-capacities" %>
            <% if (@plan.activity_map.capacity_activities capacity[:id]).length > 0 %>
              <%= render 'capacity', capacity: capacity %>
            <% end %>
          <% else %>
            <%= render 'capacity', capacity: capacity %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
</div>
