<% chart_labels_by_technical_area = [
    "Legislation",
    "IHR coordination",
    "AMR",
    "Zoonotic disease",
    "Food safety",
    "Immunization",
    "Laboratory",
    "Biosafety & biosecurity",
    "Surveillance",
    "Human resources",
    "Preparedness",
    "Rapid response",
    "Linking public health",
    "Medical countermeasures",
    "Risk communication",
    "Points of entry",
    "Chemical events",
    "Radiation",
] %>

<div class="row">

  <div class="col plan-container" data-controller="plan"
       data-plan-term='<%= @plan.term %>'
       data-plan-nudge-selectors='["#nudge-by-technical-area", "#nudge-by-activity-type"]'
       data-plan-nudge-content-selectors='["#nudge-for-technical-area-1-year", "#nudge-for-technical-area-5-year"]'
       data-plan-nudge-template-selector="#nudge-template"
       data-plan-nudge-content-zero-selector='#nudge-content-zero'
       data-plan-chart-selectors='["#bar-chart-by-technical-area", "#bar-chart-by-activity-type"]'
       data-plan-chart-labels='<%= [chart_labels_by_technical_area, BenchmarkIndicatorActivity::ACTIVITY_TYPES].to_json %>'
       data-plan-chart-series='<%= [@count_activities_by_ta, @count_activities_by_type].to_json %>'
       data-plan-chart-width="710"
       data-plan-chart-height="240"
  >
    <%= form_for @plan, class: "needs-validation", novalidate: true, data: { target: "plan.form" } do |form| %>
      <%= form.hidden_field :benchmark_activity_ids,
                            value: nil, # populated later via JS upon form submit event
                            data: {target: "plan.fieldForActivityIds"},
                            autocomplete: "off"
      %>

      <!-- Plan Form: Edit Name, Save Button (its a DIV.row) -->
      <%= render "plan_name_sticky", form: form %>

      <!-- Count of Total Activities -->
      <div class="row">
        <div class="col mt-5">
          <div class="row mx-0 activity-count-header align-items-center">
            <div class="activity-count-circle col-auto d-flex flex-column align-items-center justify-content-center">
              <span data-target="plan.activityCountCircle"><%= @plan.plan_activities.size %></span>
            </div>
            <div class="col-auto">
              <p>Total Activities</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Row for Charts and Nudges -->
      <div class="row">
        <div class="col mt-5">

          <!-- Card for Bar Charts and Nudges -->
          <div class="plan card">

            <ul class="nav nav-tabs pt-3" role="tablist">
              <li class="nav-item px-2">
                <a class="nav-link active" data-toggle="tab" href="#tabContentForTechnicalArea" id="tabForTechnicalArea" role="tab" aria-controls="technical-area" aria-selected="true">
                  Technical Area</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" data-toggle="tab" href="#tabContentForActivityType" id="tabForActivityType" role="tab" aria-controls="activity-type" aria-selected="false">
                  Activity Type</a>
              </li>
            </ul>

            <div class="row tab-content">
              <div id="tabContentForTechnicalArea" aria-labelledby="tabForTechnicalArea" role="tabpanel" class="col-auto tab-pane fade show active">
                <div class="row">
                  <!-- Left Col -->
                  <div class="col-auto d-flex mx-auto flex-column align-items-center">
                    <h6 class="my-3">Actions per benchmark technical area</h6>
                    <!-- Actual Chart, by Technical Area -->
                    <div id="bar-chart-by-technical-area" class="ct-chart-bar"></div>
                  </div>

                  <!-- Right Col -->
                  <%= render "nudge_container", dom_id: "nudge-by-technical-area" %>
                </div>
              </div>

              <div id="tabContentForActivityType" aria-labelledby="tabForActivityType" role="tabpanel" class="col-auto tab-pane fade">
                <div class="row">
                  <!-- Left Col -->
                  <div class="col-auto d-flex mx-auto flex-column align-items-center">
                    <h6 class="my-3">Actions per activity type</h6>
                    <!-- Actual Chart, by Activity Type -->
                    <div id="bar-chart-by-activity-type" class="ct-chart-bar"></div>
                  </div>

                  <!-- Right Col -->
                  <%= render "nudge_container", dom_id: "nudge-by-activity-type" %>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <!-- List of Activities -->
      <div class="row my-5">
        <div id="activity-list-by-tech-container" class="col-auto">
          <% @benchmark_technical_areas.each_with_index do |benchmark_technical_area, index| %>
            <%= render 'technical_area',
                       benchmark_technical_area: benchmark_technical_area,
                       chart_label: chart_labels_by_technical_area[index]
            %>
          <% end %>
        </div>
        <div id="activity-list-by-type-container" class="col-auto">
          <h2></h2>
          <div class="col"></div>
        </div>
      </div>

    <% end %>
  </div>

  <script type="text/template" id="activity-row-template">
    <%= render "activity",
               benchmark_technical_area_id: "{{benchmarkTechnicalAreaId}}",
               bar_segment_index:           "{{barSegmentIndex}}",
               benchmark_indicator_id:      "{{benchmarkIndicatorId}}",
               indicator_display_abbrev:    "{{indicatorDisplayAbbrev}}",
               benchmark_activity_id:       "{{benchmarkActivityId}}",
               benchmark_activity_level:    "{{benchmarkActivityLevel}}",
               benchmark_activity_text:     "{{benchmarkActivityText}}",
               activity_type_classes:       "{{benchmarkActivityTypes}}"
    %>
  </script>
</div>

<script type="text/template" id="nudge-for-technical-area-1-year">
  <p>
    <%= render file: Rails.root.join("app", "assets", "images", "ico-lightbulb.svg") %>
    Tips for your draft plan
  </p>
  <ul>
    <li>
      Focus on no more than 2-3 activities per technical area.
    </li>
    <li>
      Consider reducing the number of technical areas included and focus on the areas that scored low in your capacity assessments or are identified as gaps in the AAR's and simulation reviews.
    </li>
  </ul>
</script>

<script type="text/template" id="nudge-for-technical-area-5-year">
  <p>
    <%= render file: Rails.root.join("app", "assets", "images", "ico-lightbulb.svg") %>
    Tips for your draft plan
  </p>
  <ul>
    <li>
      5 year plans are useful for long-term planning and budgeting but should still be prioritized and realistic.
    </li>
    <li>
      Prioritize activities based on the country risk and capacity assessments focused on technical areas that address gaps identified including those in AAR's and simulations.
    </li>
    <li>
      Remember &mdash; you will still need to create a smaller more focused implementation plan as part of the 5 year plan to ensure implementation.
    </li>
  </ul>
</script>

<script type="text/template" id="nudge-template">
  <p>
    <%= render file: Rails.root.join("app", "assets", "images", "ico-lightbulb.svg") %>
    Tips for {{activity_type}} actions
  </p>
  <ul>
    {{#listItems}}
    <li>
      {{item}}
    </li>
    {{/listItems}}
  </ul>
</script>

<script type="text/template" id="nudge-content-zero">
  <%= render partial: "nudge_content_zero" %>
</script>

<script type="application/javascript">
    window.STATE_FROM_SERVER = {
        technicalAreas: <%= raw @benchmark_technical_areas.to_json %>,
        indicators: <%= raw @benchmark_indicators.to_json %>,
        activities: <%= raw @all_activities.to_json %>,
        plan: <%= raw @plan.to_json %>,
        planActivityIds: <%= @plan.activity_ids %>
    }
    window.NUDGES_BY_ACTIVITY_TYPE = <%= raw @nudges_by_activity_type_json %>;
</script>
