<%= render "plan_review_modal" %>
<div class="row">
  <div class="col plan-container" data-controller="plan">
    <%= render "plan_form" %>
    <div class="row m-4">
      <div class="col">
        <% @plan.activity_map.group_by { |b_id, activities| @benchmarks.capacity_text(b_id.split('.')[0]) }.each_with_index do |(capacity_name, activity_map), i| %>
          <div class="capacity-container">
            <h2 id="<%= capacity_name.parameterize %>"><%= i + 1 %>. <%= capacity_name %></h2>
            <% activity_map.each do |benchmark_id, activities| %>
            <!-- -->
              <%= render 'benchmark_activities', benchmark_id: benchmark_id,
                activities: activities, benchmarks: @benchmarks %>
            <!-- -->
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
