<nav class="navbar navbar-expand-lg navbar-dark bg-blue">

  <div class="container">

    <a class="navbar-brand" href="https://extranet.who.int/sph/" target="_blank">
      <%= image_tag("who-logo.svg", alt: "WHO Logo") %>
    </a>

    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        <li class="nav-item mx-lg-2">
          <a class="nav-link text-white py-1" href="<%= root_path %>">
            HOME
          </a>
        </li>
        <li class="nav-item mx-lg-2">
          <a class="nav-link text-white py-1" href="<%= introduction_url %>">
            WHO BENCHMARKS
          </a>
        </li>
        <li class="nav-item mx-lg-2">
          <a class="nav-link text-white py-1" href="<%= reference_library_url %>">
            REFERENCE LIBRARY
          </a>
        </li>
        <% if current_user %>
          <li class="nav-item dropdown ml-lg-2">
            <a class="nav-link text-white py-1 dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
              <span><%= image_tag("down-caret.svg", alt: "Down Caret") %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "My Plans", plans_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item ml-lg-2">
            <a class="nav-link text-white py-1" href="<%= new_user_session_path %>">
              LOG IN
            </a>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</nav>
