<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resolve To Save Lives -- Benchmarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><%#= this meta tag is per Bootstrap: https://getbootstrap.com/docs/4.4/getting-started/introduction/  %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', async: true %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="container page-container">
      <div class="row">
        <div class="col-12">

          <% if notice %>
            <div class="alert alert-primary">
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-warning">
              <%= alert %>
            </div>
          <% end %>

          <div>
            <%= yield %>
          </div>

        </div>
      </div>
    </div>

    <% if controller_name.eql?("pages") && action_name.eql?("home") %>
      <%= render "layouts/home_page_footer" %>
    <% else %>
      <%= render "layouts/standard_footer" %>
    <% end %>

  </body>
</html>
