<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resolve To Save Lives -- Benchmarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><%#= this meta tag is per Bootstrap: https://getbootstrap.com/docs/4.4/getting-started/introduction/  %>
    <%# NB: please refer to the section in README.md ## A note on js packs and stylesheets %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= which_js %>
    <%= javascript_pack_tag('sentry', async: 'true') if Rails.env.production? %>
  </head>

  <body>
  7654321
    <%= render "layouts/header" %>

    <% if content_for?(:homepage) %>
      <%= content_for :homepage %>
    <% else %>
      <div class="container page-container">

        <%= render partial: "layouts/flash" %>

        <div class="row">
          <div class="col-12">
            <div>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render "layouts/standard_footer" %>

  </body>
</html>
