<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resolve To Save Lives -- Benchmarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', async: true %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="container-fluid">
      <div class="row">
        <div class="offset-1 col-10">

          <% if notice %>
            <div class="alert alert-primary">
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-warning">
              <%= alert %>
            </div>
          <% end %>

          <div class="page-content-container">
            <%= yield %>
          </div>

        </div>
      </div>
    </div>

    <% if controller_name.eql?("pages") && action_name.eql?("home") %>
      <%= render "layouts/home_page_footer" %>
    <% else %>
      <%= render "layouts/standard_footer" %>
    <% end %>

  </body>
</html>
