<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= Rails.application.config.site_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><%#= this meta tag is per Bootstrap: https://getbootstrap.com/docs/4.4/getting-started/introduction/  %>
    <%# NB: please refer to the section in README.md ## A note on js packs and stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag which_js, "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag("sentry", "data-turbo-track": "reload", defer: true) if Rails.env.production? %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <% if content_for?(:homepage) %>
      <%= content_for :homepage %>
    <% else %>
      <div class="container page-container">

        <%= render partial: "layouts/flash" %>

        <div class="row">
          <div class="col-12">
            <div>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render "layouts/standard_footer" %>

  </body>
</html>
