<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= Rails.application.config.site_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><%#= this meta tag is per Bootstrap: https://getbootstrap.com/docs/4.4/getting-started/introduction/  %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag("sentry", "data-turbo-track": "reload", defer: true) if Rails.env.production? %>
</head>

<body class="<%= controller_name == "registrations" ? "bg-dark-blue" : "bg-blue" %>">
  <div class="container h-100">
    <div class="row h-100">
      <div class="devise col-auto m-auto">

        <%= render partial: "layouts/flash" %>

        <div class="row">
          <div class="col m-4">
            <% if Rails.application.config.logo %>
              <%= image_tag(Rails.application.config.logo[:src], alt: "") %>
            <% end %>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col card rounded-10">
            <div class="col card-body">
              <%= yield %>
            </div>
          </div>
        </div>

        <%= yield :below_card %>
      </div>
    </div>
  </div>

</body>
</html>
