<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resolve To Save Lives -- Benchmarks</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><%#= this meta tag is per Bootstrap: https://getbootstrap.com/docs/4.4/getting-started/introduction/  %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', async: true %>
</head>

<body class="<%= controller_name == "registrations" ? "bg-dark-blue" : "bg-blue" %>">
  <div class="container h-100">
    <div class="row h-100">
      <div class="devise col-auto m-auto">

        <%= render partial: "layouts/flash" %>

        <div class="row">
          <div class="col m-4">
            <%= image_tag("who-logo.svg") %>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col card rounded-10">
            <div class="col card-body">
              <%= yield %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="m-4 text-white">
              <%- if Rails.application.config.azure_auth_enabled -%>
                <p>World Health Organization account required.</p>
              <%- else -%>
                <% if controller_name == "sessions" %>
                  <p>Don't have an account?</p>
                  <p>
                    <%= link_to "Create an account", new_registration_path(resource_name), class: "text-white" %>
                  </p>
                <% elsif controller_name == "registrations" %>
                  <p>Already have an account?</p>
                  <p>
                    <%= link_to "Log in", new_user_session_path, class: "text-white" %>
                  </p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
